{% extends 'NavBar.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
  </head>
  <body>
    {% block content %}
    <div class="container w-50 mx-auto" style="margin-top: 100px">
      <div class="shadow card">
        <div class="card-body">
          <form action="{% url 'updateAllergiesForm' id.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <div class="d-flex justify-content-center logIn loginFont">
                <h2>Update Allergy</h2>
              </div>
              <label class="ml-1">Allergy Name </label>
              <input
                type="text"
                class="form-control"
                name="allergyName"
                value="{{ id.gen_allergy_name }}"
                required
              />
              <label class="form-label mt-3 ml-1">Description </label>
              <input
                type="text"
                class="form-control"
                name="allergyDescription"
                value="{{ id.gen_allergy_description }}"
              />
            </div>
            <div class="d-flex justify-content-center loginButton">
              <a
                href="{% url 'listAllergies' %}"
                type="button"
                class="btn btn-danger mr-3"
              >
                Cancel
              </a>
              <button type="submit" class="btnSuccess btn btn-success">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
